/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    padding: 10px;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    color: #333;
}

section {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

form input, form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

ul li button {
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

ul li button:hover {
    background-color: #0056b3;
}